<h1>Grid Übersicht</h1>

<% races.forEach(r => { %>
  <h3>Grid Rennen <%= r.id %></h3>

  <table>
    <tr>
      <th>Start</th>
      <th>Team</th>
      <th>Fahrer</th>
    </tr>

    <% r.results.forEach(row => { %>
      <tr>
        <td><%= row.start %></td>
        <td><%= row.team %></td>
        <td><%= row.driver %></td>
      </tr>
    <% }) %>
  </table>

<% }) %>
