<!DOCTYPE html>
<html>
<head>
  <title>Race Manager</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/drivers">Fahrer</a>
  <a href="/grid">Grid</a>
  <a href="/results">Rennergebnisse</a>
</nav>

<%- body %>

</body>
</html>