<nav>
  <a href="/drivers">Fahrer</a> |
  <a href="/race">Rennen</a> |
  <a href="/grid">Grid</a>
</nav>

<hr>

<h1>Rennergebnis eingeben</h1>

<form method="POST" action="/race/save">

<table border="1">
  <tr>
    <th>Startplatz</th>
    <th>Team</th>
    <th>Fahrer</th>
    <th>Platzierung</th>
  </tr>

  <% drivers.forEach((d, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= d.team_id %></td>
      <td><%= d.name %></td>
      <td>
        <input name="pos_<%= d.id %>" type="number" min="1" max="22" required>
      </td>
    </tr>
  <% }) %>

</table>

<br>
<button>Speichern</button>

</form>
