<h1>Fahrer</h1>

<form method="POST" action="/drivers/add">
  <input name="name" placeholder="@DriverName">
  <button>Hinzufügen</button>
</form>

<ul>
  <% drivers.forEach(d => { %>
    <li><%= d.name %></li>
  <% }) %>
</ul>